/* .tracker .config-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.config-icon {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
  margin-right: 1rem;
}

.config-item {
  position: relative;
  padding: 1rem 2rem;
}

.config-item .title {
  /* font-size: 1.5rem; */
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

/* PRESETS CONFIG */

.presets-config {
  grid-area: presets;
}

.token-config .header,
.presets-config .header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.presets-config .header {
  margin-bottom: 1rem;
}

.token-config .header .buttons,
.presets-config .header .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.presets-save-btn {
  background: rgba(var(--blue-main), 0.2);
  box-shadow: none;
}

.presets-save-btn:hover {
  background: rgba(var(--blue-main), 0.5);
}

.presets-save-btn:active {
  background: rgba(var(--blue-main), 0.7);
}

.presets-load-btn {
  background: rgba(var(--rose-main), 0.2);
  box-shadow: none;
}

.presets-load-btn:hover {
  background: rgba(var(--rose-main), 0.5);
}

.presets-load-btn:active {
  background: rgba(var(--rose-main), 0.7);
}

.presets-list fieldset {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.presets-list input {
  position: absolute;
  opacity: 0;
}

.presets-list input + label {
  position: relative;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.presets-list input:hover + label {
  background: rgba(var(--rose-main), 0.1);
}

.presets-list input:active + label {
  background: rgba(var(--rose-main), 0.3);
}

.presets-list input:checked + label {
  background: rgba(var(--rose-main), 0.2);
  font-weight: 600;
}

.presets-list input:checked + label.pending {
  background: rgba(var(--rose-main), 0.4);
}

.presets-list input:checked + label.saved {
  background: rgba(var(--blue-main), 0.4);
}

/* ADDRESSES CONFIG */

.addresses-config {
  grid-area: addresses;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.addresses-list ul {
  display: flex;
  flex-direction: column;
}

.addresses-list > ul > li {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding: 0.5rem 0;
  align-items: center;
}

.addresses-list > ul > li:nth-last-of-type(1) {
  padding-bottom: 0;
}

.addresses-list > ul > li:not(li:nth-last-of-type(1)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.addresses-list > ul > li > span {
  overflow: scroll;
}

.address-delete,
.address-add {
  background: transparent;
  font-weight: 900;
  font-size: 1.3rem;
  border: 0;
  box-shadow: none;
  border-radius: 50%;
  padding: 0;
  width: 32px;
  height: 32px;
}

.address-add {
  color: rgba(var(--blue-main), 0.8);
}

.address-delete {
  color: rgba(var(--rose-main), 0.8);
}

.address-add:hover {
  color: rgba(var(--blue-main), 1);
  background: transparent;
}

.address-delete:hover {
  color: rgba(var(--rose-main), 1);
  background: transparent;
}

/* TOKENS CONFIG */

.token-config {
  grid-area: tokens;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.token-config .wrapper {
  height: 100%;
  min-height: 150px;
  /* overflow: scroll; */
}

.token-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.token-list.loading {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.token-list.config {
  flex-direction: column;
  align-items: center;
}

.token-item {
  position: relative;
  display: flex;
}

.token-icon {
  background: rgba(var(--rose-main), 0.1);
  opacity: 0.5;
  border-radius: 12px;
  padding: 0.5rem;
  cursor: pointer;
}

.token-icon.selected {
  background: rgba(var(--blue-main), 0.2);
  opacity: 1;
  border-radius: 12px;
}

.token-icon-symbol {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 0.3rem;
  max-width: 6rem;
  overflow: scroll;
}

.token-info {
  position: absolute;
  top: 4rem;
  left: 0;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.2rem;
  color: #fff;
  background: rgb(36, 36, 36);
  border-radius: 12px;
  max-width: 300px;
  padding: 0.5rem 1rem;
  overflow: scroll;
}

.token-help {
  position: relative;
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

/* PERIOD CONFIG */

.period-config {
  grid-area: period;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.period-select {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0 2rem;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}

.period-custom {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  padding: 0 2rem;
  gap: 1rem;
  align-items: center;
}

.period-custom-picker {
  display: flex;
  gap: 1rem;
}

/* DEPOSITS CONFIG */

.transfers-config {
  display: flex;
  align-items: center;
}

.transfers-config .title {
  font-size: 1.5rem;
  padding: 0 0 0 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.transfers-config .wrapper {
  padding: 2rem;
}

.transfers-config i {
  position: absolute;
  right: -3rem;
  top: 0;
  color: rgba(255, 186, 8, 1);
  font-size: 1rem;
  cursor: pointer;
}

.transfers-config .title i:hover {
  color: rgba(255, 186, 8, 0.8);
}
