.profile {
  position: relative;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color 0.1s ease-in-out;
}

.profile:hover {
  color: rgba(255, 186, 8, 0.8);
}

.account-id {
  position: absolute;
  color: #fff;
}
