.nav {
  background: #000000;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 3rem;
  align-items: center;
}

.app-title {
  font-size: 2rem;
  font-weight: 300;
}

.app-title .main-char {
  font-weight: 500;
  color: rgb(255, 186, 8);
}

.app-title .alt-char {
  font-weight: 300;
}

.connect-eth {
  margin-right: 0.5rem;
}

.eth-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.eth-price-value {
  font-size: 1.1rem;
  font-weight: 300;
  color: rgb(255, 186, 8);
}

.eth-price-last-update {
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.8;
}
