/* TITLE */

.app-title {
  font-size: 2rem;
}

.app-title .main-char {
  font-weight: 500;
}

.app-title .alt-char {
  font-weight: 200;
  font-size: 1.8rem;
}

.nav {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 3rem;
}

.connect-eth {
  margin-right: 0.5rem;
}

.eth-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.eth-price-value {
  font-size: 1.1rem;
  font-weight: 300;
  color: rgb(255, 186, 8);
}

.eth-price-last-update {
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.8;
}

@media (max-width: 720px) {
  .nav {
    grid-template-columns: 1fr auto;
  }

  .app-title {
    grid-column: span 2;
  }
}
