.result-content,
.result-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 3rem;
}

.result-content {
  grid-area: result-content;
  overflow: scroll;
}

.result-content.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-header {
  grid-area: result-header;
  font-size: clamp(1rem, 2vw, 1.3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.evolution-table .header .title {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  margin-bottom: 1rem;
}

.data-dates {
  /* background: var(--main-gradient);
  background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  color: rgb(var(--blue-main));
}

table {
  width: 100%;
}

.show-decimals {
  font-size: 0.8rem;
  cursor: pointer;

  transition: color 0.1s ease-in-out;
}

.show-decimals:hover {
  color: rgba(201, 86, 208, 0.5);
}

td,
th {
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 1rem 2rem;
}

th[scope='col'] {
  background-color: rgba(var(--blue-main), 0.1);
}

th[scope='row'] {
  white-space: nowrap;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

tr:nth-child(odd) {
  background-color: rgba(245, 245, 245, 0.1);
}

.eth-balance {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.eth-balance > div:nth-child(1)::after {
  content: ' Ξ';
}

.value-down {
  color: rgb(214, 84, 149);
}

.eth-diff > .value-down::after {
  content: ' Ξ';
  color: rgb(214, 84, 149);
}

.value-up {
  color: rgb(var(--blue-main));
}

.eth-diff > .value-up::after {
  content: ' Ξ';
  color: rgb(var(--blue-main));
}

.unweight {
  font-weight: normal;
}

.weth {
  color: rgb(163, 7, 116);
}

.show-deposits-global {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.show-deposits {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.show-deposits .deposit::before {
  content: '- ';
}

/* INSTRUCTIONS */

.result-content .header {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

.result-content .message {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
}

.message > .separator-hor {
  grid-column: span 2;
  margin: 0.5rem 0;
}

.config-icon-min {
  font-size: 1rem;
  margin-right: 0.5rem;
}
