/* GLOBAL CONTAINERS */

.tracker {
  background: rgba(255, 255, 255, 0);
  border-radius: 6px;
  display: grid;
  grid-template:
    'header header' min-content
    'presets result-header' auto
    'addresses result-content' auto
    'tokens result-content' auto
    'period result-content' auto;
  grid-template-columns: 35% 1fr;
  gap: 1rem;
  padding: 1rem 2rem;
}

.header {
  grid-area: header;
}

@media (max-width: 1400px) {
  .tracker {
    grid-template:
      'header header' auto
      'presets addresses' auto
      'tokens period' auto
      'result-header result-header' auto
      'result-content result-content' 1fr;
    /* Keep left column size at 40% but minimum width is 150px */
    grid-template-columns: minmax(450px, 40%) 1fr;
  }
}

@media (max-width: 960px) {
  .tracker {
    grid-template:
      'header header' auto
      'presets presets' auto
      'addresses addresses' auto
      'tokens tokens' auto
      'period period' auto
      'result-header result-header' auto
      'result-content result-content' 1fr;
    /* Keep left column size at 40% but minimum width is 150px */
    grid-template-columns: minmax(400px, 40%) 1fr;
  }
}

.card {
  background: #19151d;
  border-radius: 1rem;
}

/* HIGHLIGHT ELEMENTS */

.hint {
  font-size: 1.3rem;
}

.highlight {
  background: var(--sub-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: rgb(var(--blue-main)); */
}

.glow {
  text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}

.minify {
  font-size: 0.9rem;
}
