/* GLOBAL CONTAINERS */

.tracker {
  background: rgba(255, 255, 255, 0);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: 30% auto 1fr;
}

.tracker .config {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.config-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
}

.card {
  background: #242424;
}

/* ADDRESSES CONFIG */

.addresses-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.addresses-list,
.period-config,
.transfers-config,
.token-config {
  position: relative;
  padding: 1rem 2rem;
}

.addresses-list .title,
.period-config .title {
  font-size: 1.5rem;
}

.addresses-list ul {
  margin: 1rem 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.addresses-list > ul > li {
  all: unset;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding: 0.5rem 0;
  align-items: center;
}

.addresses-list > ul > li:nth-last-of-type(1) {
  padding-bottom: 0;
}

.addresses-list > ul > li:not(li:nth-last-of-type(1)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.addresses-list > ul > li > span {
  overflow: scroll;
}

.address-delete,
.address-add {
  background: transparent;
  font-weight: 900;
  font-size: 1.3rem;
  border: 0;
  box-shadow: none;
  border-radius: 50%;
  padding: 0;
  width: 32px;
  height: 32px;
}

.address-add {
  color: rgba(87, 192, 87, 0.8);
}

.address-delete {
  color: rgba(166, 66, 83, 0.8);
}

.address-add:hover {
  color: rgba(87, 192, 87, 1);
  background: transparent;
}

.address-delete:hover {
  color: rgba(166, 66, 83, 1);
  background: transparent;
}

/* TOKENS CONFIG */

.token-config {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.token-config .header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 1rem;
}

.token-config .title {
  font-size: 1.5rem;
}

.token-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* PERIOD CONFIG */

.period-config {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.period-select {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0 2rem;
  gap: 1rem;
  align-items: center;
}

.period-custom {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  padding: 0 2rem;
  gap: 1rem;
  align-items: center;
}

/* DEPOSITS CONFIG */

.transfers-config {
  display: flex;
  align-items: center;
}

.transfers-config .title {
  font-size: 1.5rem;
  padding: 0 0 0 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.transfers-config .wrapper {
  padding: 2rem;
}

.transfers-config i {
  position: absolute;
  right: -3rem;
  top: 0;
  color: rgba(255, 186, 8, 1);
  font-size: 1rem;
  cursor: pointer;
}

.transfers-config .title i:hover {
  color: rgba(255, 186, 8, 0.8);
}

/* HIGHLIGHT ELEMENTS */

.hint {
  font-size: 1.3rem;
}

.highlight {
  color: rgb(255, 186, 8);
}

.minify {
  font-size: 0.9rem;
}
