@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600&display=swap');

:root {
  --purple-main: rgb(160, 108, 213);
  --purple-light: rgb(184, 147, 221);
  --purple-dark: rgb(130, 71, 190);
  --black-main: #141414;
  --black-light: #252526;
  --main-font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: var(--main-font);
  border: 0;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
}

button {
  background: rgba(255, 186, 8, 0.8);
  border: none;
  border-radius: 6px;
  padding: 0.3rem 2rem;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;

  transition: background 0.5s;
}

button:hover {
  background: rgba(255, 186, 8, 1);
}

.App {
  position: relative;
  background-image: url(/public/PolygonLuminary.svg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.notif {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  color: #ffffff;
  bottom: 1rem;
  right: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.5s, background 0.5s;
}

.notif.error,
.notif.info,
.notif.hint {
  opacity: 1;
}

.notif.error {
  background: rgba(166, 66, 83, 0.8);
}

.notif.info {
  background: rgba(97, 201, 97, 0.8);
}

.notif.hint {
  background: rgba(255, 186, 8, 0.8);
}
