:root {
  --purple-dark: #2a1f4d;
  --purple-light: #5e49a1;
  --rose-main: 231, 95, 188;
  --blue-main: 120, 146, 221;
  --blue-light: 132, 245, 230;
  --black-main: #141414;
  --yellow-main: #ffba08;
  --main-gradient: linear-gradient(
    45deg,
    hsla(319, 74%, 64%, 1) 0%,
    hsla(225, 60%, 67%, 1) 58%,
    rgb(120, 146, 221) 100%
  );
  --sub-gradient: linear-gradient(
    45deg,
    rgb(231, 95, 188) 0%,
    rgb(120, 146, 221) 70%,
    rgb(132, 245, 230) 100%
  );
  --main-font: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-family: var(--main-font);
  border: 0;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
}

input:active {
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

button {
  background: var(--main-gradient);
  box-shadow: rgb(50 45 71) 2px 1000px 1px inset;
  color: #fff;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem 2rem;
  border-radius: 6px;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  outline: none;
  border: 0;
  cursor: pointer;

  transition: all 0.2s linear;
}

button:hover {
  /* background: rgba(255, 255, 255, 0.1); */
  background: var(--main-gradient);
  box-shadow: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App {
  position: relative;
  /* background: radial-gradient(
    circle,
    hsla(270, 48%, 51%, 1) 0%,
    hsla(0, 0%, 8%, 1) 100%
  ); */
  background: #05050e;
  color: white;
  min-height: 100vh;
  display: grid;
  /* padding: 1rem 2rem; */
}

.bg-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;

  z-index: -1;
  pointer-events: none;
  transition: opacity 0.1s linear;
}

.bg-blur.blurred {
  opacity: 1;
}

.notif {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  color: #ffffff;
  bottom: 1rem;
  right: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.5s, background 0.5s;
}

.notif.error,
.notif.info,
.notif.hint {
  opacity: 1;
}

.notif.error {
  background: rgba(201, 86, 208, 0.8);
}

.notif.info {
  background: rgba(130, 158, 235, 0.8);
}

.notif.hint {
  background: rgba(255, 186, 8, 0.8);
}

#popup {
  position: absolute;
  top: 0;
  left: 2rem;
  font-family: var(--main-font);
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.2rem;
  color: #fff;
  background: rgb(36, 36, 36);
  border-radius: 12px;
  width: 200px;
  padding: 0.5rem 1rem;
}

.separator-hor {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.separator-ver {
  border-right: 1px solid red;
}
