:root {
  --purple-main: rgb(160, 108, 213);
  --purple-light: rgb(184, 147, 221);
  --purple-dark: rgb(130, 71, 190);
  --black-main: #141414;
  --black-light: #252526;
  --main-font: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-family: var(--main-font);
  border: 0;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
}

input:active {
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

button {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem 2rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  outline: none;
  border: 0;
  cursor: pointer;

  transition: all 0.2s linear;
}

button:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App {
  position: relative;

  color: white;
  min-height: 100vh;
  display: grid;
  padding: 1rem 2rem;
}

.bg-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgb(20, 20, 20);
  background: linear-gradient(
    180deg,
    #141414 0%,
    #8247be 42%,
    #ff007b 100%
  ); */
  background: hsla(270, 48%, 51%, 1);

  background: radial-gradient(
    circle,
    hsla(270, 48%, 51%, 1) 0%,
    hsla(0, 0%, 8%, 1) 100%
  );
  /* background-size: 120% 120%; */

  z-index: -2;
}

.notif {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  color: #ffffff;
  bottom: 1rem;
  right: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.5s, background 0.5s;
}

.notif.error,
.notif.info,
.notif.hint {
  opacity: 1;
}

.notif.error {
  background: rgba(166, 66, 83, 0.8);
}

.notif.info {
  background: rgba(97, 201, 97, 0.8);
}

.notif.hint {
  background: rgba(255, 186, 8, 0.8);
}

#popup {
  position: absolute;
  top: 0;
  left: 2rem;
  font-family: var(--main-font);
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 186, 8, 0.6);
  border-radius: 1rem;
  width: 200px;
  padding: 0.5rem;
}

.separator-hor {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.separator-ver {
  border-right: 1px solid red;
}
